html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    display: block;
    margin: auto; /* Ensures it is centered in the container */
}

